@model IEnumerable<RookieShop.Backend.Models.Cart>
@{
    ViewData["Title"] = "Index";
}
<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Cart</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
    <!-- Start Cart Table -->
    <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (Model.ToList().Count>0)
                    {
                        <div class="table_desc">
                            <div class="table_page table-responsive">


                                
                                <table>
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Quantity</th>
                                            <th class="product_total">Total</th>
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        @foreach (var i in Model)
                                        {
                                        <tr>
                                            <td class="product_remove"><a href="@Url.ActionLink("RemoveItem","Cart",new { id = i.productId })"><i class="fa fa-trash-o"></i></a></td>
                                            @*  <td class="product_thumb"><a href="product-details-default.html"><img src="https://localhost:4434@i.Product.ProductImages.ToList()[0].pathName" alt=""></a></td>*@
                                            <td class="product_name"><a href="@Url.Action("Details","Product",new {id=i.productId})"></a></td>
                                            <td class="product-price">@i.unitPrice</td>
                                            <td class="product_quantity">
                                                <label></label>
                                                <form action="/cart/add" method="post">
                                                    <input min="1" max="100" value="@i.quantity" type="number">

                                                </form>
                                            </td>
                                            <td class="product_total">@Convert.ToDecimal(Convert.ToInt32(i.quantity) * @Convert.ToDecimal(i.unitPrice)) </td>
                                        </tr>
                                            <!-- End Cart Single Item-->
                                        }




                                    </tbody>
                                </table>

                            </div>
                            <div class="cart_submit">
                                <button class="btn btn-md btn-golden" type="submit">update cart</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="emptycart-content text-center">
                            <div class="image">
                                <img class="img-fluid" src="assets/images/emprt-cart/empty-cart.png" alt="">
                            </div>
                            <h4 class="title">Your Cart is Empty</h4>
                            <h6 class="sub-title">Sorry Mate... No item Found inside your cart!</h6>
                            <a href="shop-grid-sidebar-left.html" class="btn btn-lg btn-golden">Continue Shopping</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->
    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                        <h3>Cart Totals</h3>
                        <div class="coupon_inner">
                            
                           
                           

                            <div class="cart_subtotal">
                                <p>Total</p>
                                <p class="cart_amount">$@ViewBag.Total</p>
                            </div>
                            <div class="checkout_btn">
                                <a href="#" class="btn btn-md btn-golden">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Coupon Start -->
</div> <!-- ...:::: End Cart Section:::... -->
