@model List<RookieShop.Shared.ViewModel.ProductListVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="portfolio-section">
    <div class="container">
        <div class="row">

            <!-- START PORTFOLIO HEADING -->
            <div class="col-12">
                <div class="portfolioHeading text-center">
                    <h1 class="high-lighted-heading">Our Popular Product</h1>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me.</p>
                </div>
            </div>
            <!-- END PORTFOLIO HEADING -->
            <!-- START FILTERS -->
         @*   @Html.Partial("~/Views/Shared/_CategoryPartial.cshtml", ViewBag.ListCategory)*@
            <div class="col-12">
                <div class="clearfix d-flex justify-content-center">
                    <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All </div>
                        @foreach (var i in ViewBag.ListCategory)
                        {
                            <a href="@Url.Action("ProductFilter","Product", new { id = i.Id } )" data-filter=".Classic" class="cbp-filter-item">@i.categoryName </a> 
                        }
                
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FILTERS -->
            <!-- START PORTFOLIO IMAGES -->
            <div class="col-12">
                <div id="js-grid-blog-posts" class="cbp">
                    @foreach (var item in Model)
                    {
                        <div class="cbp-item Classic Fantasy">
                            <a class="portfolio-circle-cart" href="@Url.Action("AddProduct","Cart", new { id = item.ProductId})">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                                <div class="item"> <a href="book-shop\img\book-1.jpg" class="cbp-caption" data-fancybox="gallery1" data-title="Book 1"><img src="@item.ImgDefault" alt="Book 1"></a></div>

                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="cbp-l-grid-blog-title"><a href="@Url.Action("Details","Product",new { id = item.ProductId })" target="_blank" class="portfolio-title">@item.ProductName</a></div>
                                </div>
                                <div class="col-12 text-center">
                                    <div class="cbp-l-grid-blog-desc portfolio-des">$ @item.UnitPrice</div>
                                </div>
                            </div>
                        </div>
                    }




                </div>
            </div>
            <!-- END PORTFOLIO IMAGES -->

        </div>
    </div>
</div>
<!--START BANNER SECTION-->
<div class="banner-section parallax-slide">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <div class="banner-content-wrapper">
                    <span>TRENDING PRODUCT OF THE WEEK</span>
                    <h1>Books <span>Collections</span></h1>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me</p>
                    <button type="button" class="btn green-color-yellow-gradient-btn">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END BANNER SECTION-->



<!--START SEARCH AREA-->
<div class="search-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window"></i></a>

    <div class="container">
        <div class="row">
            <div class="col-12 search-col">
                <form action="javascript:void(0)">
                    <div class="input-group search-box-form">
                        <input type="text" class="form-control" placeholder="Search Here" aria-label="Search Here">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="submit" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12">
                <hr>
            </div>




        </div>
    </div>

</div>
<!--END SEARCH AREA -->

